div {
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    width: 76px;}

.header {
    background-color:#1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.header2 {
    background-color:#1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.introduction {
    background-color: #1F2937;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}


.random {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: light italic;
}

.sign-up {
    background-color: #3882F6;
    color:#F9FAF8;
    font-size: 30px;
}

.footer { 
    background-color: #1F2937;
    color: #F9FAF8;
}